.glitch-text {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  color: white;
  text-transform: uppercase;

  text-shadow: 0 0 10px #00f2ff, 0 0 20px #bc13fe;
}

.system-bg {
  min-height: 100vh;

  background: linear-gradient(to right,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.7) 40%,
    rgba(0,0,0,0.2) 60%,
    rgba(0,0,0,0.8) 100%),
    url('/assets/perfil.jpg') no-repeat center right;
  background-size: cover;
  background-attachment: fixed;
}
.system-bg {
  min-height: 100vh;

  background: linear-gradient(to right,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,0.8) 30%,
    rgba(0,0,0,0) 50%,
    rgba(0,0,0,0.8) 100%),
    url('/assets/perfil.jpg') no-repeat center right;
  background-size: cover;
  background-attachment: fixed;
}
